"*":
  "atom-beautify":
    erb: {}
    general:
      _analyticsUserId: "6cd8ba82-4852-4052-886e-9e9706eaa52d"
    ruby:
      indent_size: 2
  core:
    disabledPackages: [
      "markdown-preview"
    ]
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontSize: 17
  "exception-reporting":
    userId: "f572be87-0b88-58db-1346-84869ae13723"
  welcome:
    showOnStartup: false
