"*":
  "atom-beautify":
    erb: {}
    general:
      _analyticsUserId: "6cd8ba82-4852-4052-886e-9e9706eaa52d"
    markdown:
      default_beautifier: "Remark"
    ruby:
      indent_size: 2
  core:
    disabledPackages: [
      "linter-write-good"
      "linter-jshint"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontSize: 13
  "exception-reporting":
    userId: "f572be87-0b88-58db-1346-84869ae13723"
  linter: {}
  "linter-eslint":
    eslintrcPath: "/Users/gilani/.eslintrc.js"
    useGlobalEslint: true
  "linter-rubocop": {}
  "linter-ui-default":
    showPanel: true
  "markdown-preview": {}
  minimap: {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
