"*":
  "atom-beautify":
    erb: {}
    general:
      _analyticsUserId: "6cd8ba82-4852-4052-886e-9e9706eaa52d"
    markdown:
      default_beautifier: "Remark"
    ruby:
      indent_size: 2
      rubocop_path: "/Users/gilani/.rvm/gems/ruby-2.3.1/bin/rubocop"
  core:
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontSize: 17
  "exception-reporting":
    userId: "f572be87-0b88-58db-1346-84869ae13723"
  "linter-rubocop":
    command: "rubocop --rails"
  minimap: {}
  welcome:
    showOnStartup: false
